// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

footer{
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: .5rem;
  text-align: center;
  background-color: #212529;;
  span{
      color:#f8fafc;
  }
}
